.Pages{
    font-family    : 'Roboto', sans-serif;
    height: auto;
    margin: 56px 24px 56px auto;
    display: flex;
    width: calc(100% - 300px);
    background-color:  #F4F4F4;;
}




.page-big-sec{
    margin: 25px;
    width: auto;
}

@media(max-width:1189px){
    .Pages{
        
    margin: 25px;
    width: auto;
    }
}